/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 5, ../sass/_reset.scss */
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 94, ../sass/_reset.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.background_body {
  background-color: #e5e5e5;
  height: 100%;
  position: relative;
}

.background_footer {
  background-color: red;
  bottom: 0;
  height: 80px;
  width: 100%;
  display: inline-block;
}

.header {
  width: 80%;
  margin: 0 auto;
  padding-top: 2vh;
  font-family: sans-serif;
}

.header_connection {
  display: inline-block;
  float: right;
  font-size: 14px;
  opacity: 0.5;
}
.header_connection .connention_info {
  margin-left: 40px;
}
@media screen and (max-width: 450px) {
  .header_connection .connention_info {
    margin: 0;
  }
}
.header_connection .connention_info i {
  padding: 0 5px;
}
.header_connection .connention_info .icon_rotate {
  transform: rotate(90deg);
}

.header_info {
  margin: 20px 0;
  display: block;
}
@media screen and (max-width: 820px) {
  .header_info {
    text-align: center;
    
  }
}
.header_info .header_logo:hover {
  cursor: pointer;
}
.header_info .header_shoppig_info {
  display: inline-block;
  align-content: center;
  float: right;
}
@media screen and (max-width: 768px) {
  .header_info .header_shoppig_info {
    margin-top: 20px;
  }
}
.header_info .header_shoppig_info i {
  line-height: 40px;
  margin-left: 20px;
  margin-right: 20px;
}
.header_info .header_shoppig_info i:hover {
  cursor: pointer;
}
.header_info .header_shoppig_info span {
  line-height: 40px;
  margin-left: 20px;
  text-decoration: underline;
}
.header_info .header_shoppig_info span:hover {
  cursor: pointer;
}
.header_info .header_shoppig_info .header_button {
  border: none;
  border-radius: 5px;
  padding: 0 5vw;
  background-color: rgba(255, 0, 0, 0.75);
  color: #fff;
  font-size: 16px;
  line-height: 40px;
  margin-left: 20px;
}
.header_info .header_shoppig_info .header_button:hover {
  cursor: pointer;
}
.header_info .header_shoppig_info .header_button i {
  margin-left: 10px;
  margin-right: 0;
}
@media screen and (max-width: 400px) {
  .header_info .header_shoppig_info .header_button i {
    display: none;
  }
}

.nav {
  background-color: #fff;
  display: inline-block;
  width: 100%;
  margin-top: 15px;
}
.nav ul li{
  float: left;
}
.nav_search{
  float: right;
}
.nav_input{
  margin-top: 15px;
}
@media screen and (max-width: 1100px) {
  .nav {
    display: block;
    text-align: center;
  }
}
.nav label {
  display: none;
}
@media screen and (max-width: 768px) {
  .nav label {
    display: block;
  }
}
.nav #menu_burger {
  display: none;
}
.nav #menu_burger:checked ~ ul {
  display: block;
}
.nav i {
  display: none;
  padding: 10px 0;
}
@media screen and (max-width: 768px) {
  .nav i {
    display: block;
  }
}
.nav ul {
  display: inline-block;
}
@media screen and (max-width: 1100px) {
  .nav ul {
    
  }
}
@media screen and (max-width: 768px) {
  .nav ul {
    display: none;
  }
}
.nav ul li {
  margin: 10px 0;
  padding: 10px 20px;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 768px) {
  .nav ul li {
    border: none;
  }
}
.nav ul li:last-child {
  border-right: none;
}
.nav ul li a {
  font-size: 16px;
  color: #000;
  text-decoration: none;
}
.nav .nav_search {
  margin: 0 20px;
  position: relative;
}
.nav .nav_search .nav_input {
  background-color: rgba(215, 215, 215, 0.5);
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  padding: 3px 3px 3px 25px;
}
.nav .nav_search .nav_input:hover {
  background-color: #fff;
}
@media screen and (max-width: 1100px) {
  .nav .nav_search .nav_input {
    width: 90%;
    margin: 10px 0;
  }
}

.nav .nav_search::before {
  content: '\f002';
  position: absolute;
  top: 50%;
  margin-top: -2px;
  margin-left: 5px;
  font-family: 'Font Awesome\ 5 Free';
  font-weight: 900;
  opacity: 0.25;
}
@media screen and (max-width: 400px){
  .nav .nav_search::before{
        margin-top: -8px;
  } 
}
.content {
  width: 80%;
  margin: 0 auto;
  font-family: sans-serif;
}

.content_top {
  background-color: #fff;
  margin-top: 6vh;
  padding: 30px;
  display: inline-block;
  position: relative;
  justify-content: space-around;
  width: 100%;
}
.top_tag{
  margin: 10px;
}
.top_left{
  float: left;
  width: 31.33333%;
}
.top_middle{
  float: left;
  width:31.33333%;
}
.top_right{
  float: left;
  width:31.33333%;
}
.top_middle_info{
  display: inline-block;
}

.info_left {
  display: inline-block;
  float: left;
}
.info_right{
  display: inline-block;
  float: left;
}
@media screen and (max-width: 1200px) {
  .content_top {
    text-align: center;
  }
}
.content_top .top_tag {
  left: 0;
  top: -34px;
  position: absolute;
  text-align: center;
  background-color: #000;
  color: #fff;
  width: 100px;
  font-size: 24px;
  padding: 5px 10px;
}

.top_left {
  width: 25%;
}
@media screen and (max-width: 1200px) {
  .top_left {
    width: 100%;
  }
}
.top_left .top_title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}
.top_left .top_left_info {
  display: inline-block;
  font-size: 16px;
  line-height: 1.2;
  text-align: right;
}
.top_left .top_left_info .info_left {
  padding: 0 20px;
  border-right: 1px solid rgba(0, 0, 0, 0.25);
}
.top_left .top_left_info .info_right {
  padding: 0 20px;
}

.top_middle {
  display:inline-block;
  width: 50%;
}
@media screen and (max-width: 1200px) {
  .top_middle {
    margin-top: 20px;
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .top_middle {
  }
}
.top_middle .top_middle_info {
  margin: 0 20px;
  text-align: center;
}
.top_middle .top_middle_info:nth-child(2) .top_middle_img {
  background-image: url("../image/p2.jpg");
}
.top_middle .top_middle_info:nth-child(3) .top_middle_img {
  background-image: url("../image/p3.jpg");
}
.top_middle .top_middle_info .top_middle_title {
  font-size: 32px;
}
.top_middle .top_middle_info .top_middle_img {
  background-image: url("../image/p1.jpg");
  border-radius: 90%;
  height: 100px;
  width: 100px;
  position: relative;
}
@media screen and (max-width: 600px) {
  .top_middle .top_middle_info .top_middle_img {
    display: inline-block;
  }
}
.top_middle .top_middle_info .top_middle_img img {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}
.top_middle .top_middle_info .top_middle_content {
  margin-top: 20px;
}
.top_middle .top_middle_info .top_middle_content h1 {
  font-size: 20px;
  color: red;
}
.top_middle .top_middle_info .top_middle_content p {
  font-size: 14px;
}

.top_right {
  width: 25%;
  text-align: left;
}
@media screen and (max-width: 1200px) {
  .top_right {
    width: 100%;
    text-align: center;
    margin-top: 20px;
  }
}
.top_right .color_seleter {
  display: inline-block;
  margin-top: 20px;
}
.top_right .color_seleter .color_1 {
  width: 30px;
  height: 30px;
  background-color: #f44336;
  display: inline-block;
  float: left;
}
.top_right .color_seleter .color_2 {
  width: 30px;
  height: 30px;
  background-color: #e91e63;
  display: inline-block;
  float: left;
}
.top_right .color_seleter .color_3 {
  width: 30px;
  height: 30px;
  background-color: #9c27b0;
  display: inline-block;
  float: left;
}
.top_right .color_seleter .color_4 {
  width: 30px;
  height: 30px;
  background-color: #673ab7;
  display: inline-block;
  float: left;
}
.top_right .color_seleter .color_5 {
  width: 30px;
  height: 30px;
  background-color: #2196f3;
  display: inline-block;
  float: left;
}
.top_right .color_seleter .color_6 {
  width: 30px;
  height: 30px;
  background-color: #03a9f4;
  display: inline-block;
  float: left;
}
.top_right .color_seleter .color_7 {
  width: 30px;
  height: 30px;
  background-color: #00bcd4;
  display: inline-block;
  float: left;
}
.top_right .color_seleter .color_8 {
  width: 30px;
  height: 30px;
  background-color: #009688;
  display: inline-block;
  float: left;
}
.top_right .color_seleter .color_9 {
  width: 30px;
  height: 30px;
  background-color: #4caf50;
  display: inline-block;
  float: left;
}
.top_right .color_seleter .color_10 {
  width: 30px;
  height: 30px;
  background-color: #8bc34a;
  display: inline-block;
  float: left;
}
.top_right .color_seleter .color_11 {
  width: 30px;
  height: 30px;
  background-color: #cddc39;
  display: inline-block;
  float: left;
}
.top_right .color_seleter .color_12 {
  width: 30px;
  height: 30px;
  background-color: #ffeb3b;
  display: inline-block;
  float: left;
}
.top_right .color_seleter .color_13 {
  width: 30px;
  height: 30px;
  background-color: #ffc107;
  display: inline-block;
  float: left;
}
.top_right .color_seleter .color_14 {
  width: 30px;
  height: 30px;
  background-color: #ff9800;
  display: inline-block;
  float: left;
}
.top_right .color_seleter .color_15 {
  width: 30px;
  height: 30px;
  background-color: #ff5718;
  display: inline-block;
  float: left;
}
.top_right .color_seleter .color_16 {
  width: 30px;
  height: 30px;
  background-color: #7a5548;
  display: inline-block;
  float: left;
}
.top_right .color_seleter .color_17 {
  width: 30px;
  height: 30px;
  background-color: #9e9e9e;
  display: inline-block;
  float: left;
}
.top_right .color_seleter .color_18 {
  width: 30px;
  height: 30px;
  background-color: #607d8b;
  display: inline-block;
  float: left;
}
.top_right .color_seleter .color_19 {
  width: 30px;
  height: 30px;
  background-color: #234b88;
  display: inline-block;
  float: left;
}
.top_right .color_seleter .color_20 {
  width: 30px;
  height: 30px;
  background-color: #00ff04;
  display: inline-block;
  float: left;
}
.top_right .color_seleter .color_21 {
  width: 30px;
  height: 30px;
  background-color: #9100ea;
  display: inline-block;
  float: left;
}
.top_right .color_seleter .color_22 {
  width: 30px;
  height: 30px;
  background-color: #213b00;
  display: inline-block;
  float: left;
}
.top_right .color_seleter .color_23 {
  width: 30px;
  height: 30px;
  background-color: #424d58;
  display: inline-block;
  float: left;
}
.top_right .color_seleter .color_24 {
  width: 30px;
  height: 30px;
  background-color: #fd0541;
  display: inline-block;
float: left;  
}

.top_right p {
  font-size: 24px;
  font-weight: bold;
}
@media screen and (max-width: 1200px) {
  .top_right p {
    margin-top: 20px;
  }
}
.top_right .price_range {
  margin-top: 20px;
}
.top_right .price_range input[type="range"] {
  -webkit-appearance: none;
  width: 250px;
  height: 20px;
  outline: none;
  pointer-events: none;
  background: red;
  overflow: hidden;
  border-radius: 10px;
}
@media screen and (max-width: 500px) {
  .top_right .price_range input[type="range"] {
    width: 90%;
  }
}
.top_right .price_range input[type="range"]::-webkit-slider-thumb {
  pointer-events: all;
  position: relative;
  z-index: 1;
  outline: 0;
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 50%;
  background-color: #fff;
}

.content_middle {
  font-size: 0;
  margin: 50px 0;
}
.content_middle .middle_title {
  text-align: left;
}
.content_middle .middle_title h1 {
  font-size: 48px;
}
@media screen and (max-width: 400px) {
  .content_middle .middle_title h1 {
    font-size: 32px;
  }
}
.content_middle .middle_title p {
  font-size: 24px;
  opacity: 0.5;
}
@media screen and (max-width: 400px) {
  .content_middle .middle_title p {
    font-size: 20px;
  }
}

.middle_info {
  position: relative;
  margin-top: 10px;
}
@media screen and (max-width: 1100px) {
  .middle_info {
    text-align: center;
  }
}

.middle_left {
  display: inline-block;
  width: 47.5%;
  text-align: center;
}
@media screen and (max-width: 1100px) {
  .middle_left {
    width: 80%;
  }
}
.middle_left img {
  margin: 1%;
  display: inline-block;
  width: 31.33333333%;
}
.middle_left img:hover {
  box-shadow: 0 0 0 5px red;
  cursor: pointer;
}
.middle_left img:first-child {
  width: 98%;
  height: 50%;
}

.middle_right {
  vertical-align: top;
  display: inline-block;
  width: 47.5%;
  margin-left: 5%;
}
@media screen and (max-width: 1100px) {
  .middle_right {
    display: block;
    width: 100%;
    margin-left: 0;
    margin-top: 20px;
  }
}
.middle_right .middle_right_title {
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.middle_right .middle_right_title .star {
  margin-bottom: 20px;
  background-image: url("../image/star.png");
  background-position: 0 0px;
  height: 20px;
  width: 110px;
}
.middle_right .middle_right_title .star:hover {
  background-image: url("../image/star.png");
  background-position: 0 -19px;
  height: 20px;
  width: 110px;
}

.middle_right .middle_right_title .middle_money .money {
  position: relative;
  display: inline-block;
  font-size: 84px;
  background-color: #fff;
  padding: 5px 20px;
}
@media screen and (max-width: 576px) {
  .middle_right .middle_right_title .middle_money .money {
    font-size: 60px;
  }
}
@media screen and (max-width: 450px) {
  .middle_right .middle_right_title .middle_money .money {
    font-size: 48px;
  }
}
.middle_right .middle_right_title .middle_money .money_discount {
  text-decoration: line-through;
  color: #fff;
  font-size: 32px;
  position: absolute;
  right: 0;
  top: -42px;
  background-color: red;
  padding: 5px 20px;
}
@media screen and (max-width: 450px) {
  .middle_right .middle_right_title .middle_money .money_discount {
    font-size: 16px;
    top: -26px;
  }
}
.middle_right .middle_right_title .middle_money .money_save {
  color: #000;
  text-align: center;
}
@media screen and (max-width: 400px) {
  .middle_right .middle_right_title .middle_money .money_save img {
    display: none;
  }
}
.middle_right .middle_right_title .middle_money .money_save p {
  font-size: 18px;
}
@media screen and (max-width: 450px) {
  .middle_right .middle_right_title .middle_money .money_save p {
    font-size: 0;
  }
}
.middle_right .middle_right_title .middle_money .money_save span {
  font-size: 24px;
  font-weight: bold;
}
@media screen and (max-width: 450px) {
  .middle_right .middle_right_title .middle_money .money_save span {
    font-size: 0;
  }
}

.middle_content {
  font-size: 16px;
  text-align: right;
}
.middle_content p {
  color: rgba(0, 0, 0, 0.3);
  text-align: justify;
}
.middle_content .free_shopping {
  font-size: 22px;
  margin: 10px 0;
  color: #000;
}
.middle_content .free_shopping i {
  margin: 0 10px;
  color: red;
  transform: rotate(20deg);
  transform: scaleX(-1);
}
.middle_content .select_list {
  display: inline;
  margin: 10px 0;
}
.middle_content .select_list p {
  color: #000;
  margin-left: 30px;
  float: right;
}
.middle_content .select_list .select_style {
  border-radius: 5px;
  margin-left: 30px;
  padding: 5px 10px;
  float:right
}
.middle_content .middle_button {
  display: inline-block;
  border: none;
  border-radius: 5px;
  padding: 0 5vw;
  background-color: rgba(255, 0, 0, 0.75);
  color: #fff;
  font-size: 16px;
  padding: 10px;
  padding-right: 50px;
  padding-left: 50px;
  font-size: 24px;
}
.middle_content .middle_button:hover {
  cursor: pointer;
}
.middle_content .link_list {
  margin-top: 30px;
}

.middle_content .link_list p {
  font-size: 18px;
  color: #000;
  text-align: right;
}
.middle_content .link_list .icon_list {
  font-size: 26px;
  display: inline-block;
  background-color: #fff;
  padding: 5px 10px;
}

.middle_content .link_list .icon_list i {
  margin: 0 2px;
}
.middle_content .link_list .icon_list i:nth-child(1) {
  color: #3f51b5;
}

.middle_content .link_list .icon_list i:nth-child(2) {
  color: #03a9f4;
}

.middle_content .link_list .icon_list i:nth-child(5) {
  color: #ff9800;
}


.content_bottom {
  margin-top: 100px;
  margin-bottom: 200px;
  position: relative;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
}


.bottom_tag {
  position: absolute;
  display: inline-block;
  top: -58px;
}
@media screen and (max-width: 520px) {
  
  .bottom_tag {
    font-size: 16px;
    width: 100%;
    top: -112px;
  }
}

.bottom_tag .tag_title {
  background-color: #fff;
  padding: 20px;
  color: #000;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: inline-block;
  float: left;
}
@media screen and (max-width: 520px) {
  .bottom_tag .tag_title {
    padding: 10px;
  }
}

.bottom_tag .tag_title:hover {
  background-color: red;
  color: #fff;
  cursor: pointer;
}


.bottom_content {
  padding: 20px;
}

.bottom_content .content_title {
  font-size: 24px;
}

.bottom_content .content_title_style {
  color: red;
  font-size: 20px;
}

.bottom_content .content_info {
  opacity: 0.5;
  text-align: justify;
  margin-bottom: 5%;
  line-height: 1.5;
}

.bottom_content .content_info ul li {
  margin: 10px 0;
}


.footer {
  margin-top: 2%;
}
 
.footer_logo {
  display: inline;
  margin: 50px;
}
.footer_nav {
  display: inline;
 
}
.footer_nav ul li{
display: inline;
float: left;
}
.footer_icon{
display: inline;
margin-left: 50px;
}
.footer_icon img {
  display: inline;

}
@media screen and (max-width: 1024px) {
  
  .footer {
    padding: 0 1vw;
  }
}
@media screen and (max-width: 940px) {
  
  .footer {
    
  }
}

@media screen and (max-width: 940px) {
  
  .footer_logo {
    order: 1;
  }
}

@media screen and (max-width: 940px) {
  
  .footer_nav {
    order: 3;
  }
}
@media screen and (max-width: 400px) {
  
  .footer_nav {
    display: none;
  }
  .footer_icon img {
  margin-left: 0;
}
}

.footer_nav ul {
  display: inline-block;
  font-family: sans-serif;
}

.footer_nav ul li {
  border-right: 1px solid #fff;
  padding: 0 20px;
}

.footer_nav ul li:last-child {
  border-right: none;
}
@media screen and (max-width: 750px) {
 
  .footer_nav ul li {
    padding: 0 10px;
  }
}

.footer_nav ul li a {
  font-size: 16px;
  color: #fff;
  text-decoration: none;
}

.footer_nav ul li a:hover {
  cursor: pointer;
}
@media screen and (max-width: 620px) {
  
  .footer_nav ul li a {
    font-size: 12px;
  }
}

@media screen and (max-width: 940px) {
  
  .footer_icon {
    order: 2;
  }
}
